* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Main {
  /* border: 1px solid red;
   */
  height: 21rem;

  background: rgb(93, 207, 203);
  background: linear-gradient(
    90deg,
    rgba (93, 207, 203, 1) 0%,
    rgba (119, 31, 205, 1) 100%,
    rgba (18, 172, 222, 1) 100%,
    rgba (22, 164, 207, 1) 100%
  );

  display: grid;
  place-content: center;
  color: white;
  padding: 1rem;
}
.Main > p {
  width: 60%;
  margin: auto;
  padding: 1rem;
}
.Main h3 {
  font-size: large;
  margin: auto;
}

.Main button {
  margin: auto;
  width: 111px;
  padding: 1rem;
  border-radius: 11px;
  border: none;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.Footer p {
  color: gray;
}

.Footer p + p {
  color: #2aa4e2;
}
